html {
  scroll-behavior: smooth;
}

html, body { 
  width: 100%; 
  height: 100%; 
  margin: 0;
  padding: 0;
}

#title {
  font-size: 65px;
  background-image: linear-gradient(45deg, #030bfc, #ff0000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#main {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('C:/Users/marti/Pictures/zac-gudakov--UHyhmRhzrU-unsplash.jpg');
  background-size:cover;
}

#header {
  text-align: center;
  padding: 20px;
  padding-top: 1px;
  border-bottom: solid;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom: solid 5px rgb(0, 0, 0)
}

#searchbar {
  font-size: 18px;
  border-radius: 25px;
  padding: 20px;
  width: 140px;
  height: 5px;
  background-color: #ffffff;
  border: solid rgb(0, 0, 0); 
}

#searchbar:hover {
  background-color: #c1c1c1;
}

#magnifying-glass {
  font-size: 15px;
  border: solid rgb(0, 0, 0); 
  border-radius: 25px;
  width: 50px;
  height: 45px;
  background-color: #ffffff;
  line-height: 1px;
}

#magnifying-glass:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

#magnifying-glass:hover {
  background-color: #c1c1c1;
}

#dog-image-list {
  display: flex;
  justify-content: center;
  padding-left: 0%;
}

#breed-title span {
  padding: 0.5em;
  border: solid rgb(213, 123, 5);
  background-color: rgb(120, 70, 4);;
  border-radius: 30px;
}

#breed-title {
  text-align: center;
  color: #f78000;
  border-width: 5px;
  filter: drop-shadow(3px 2px 4px #4f5d64)
}

#dog-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 450px;
  max-height: 450px;
  min-width: 450px;
  min-height: 450px;
  border-width: 5px;
  border-radius: 45px;
  border-style: solid;
  border-color: rgb(213, 123, 5);
  filter: drop-shadow(3px 2px 4px #4f5d64)
}

#image-and-title {
  padding-top: 80px;
}

#question-mark {
  font-size: 18px;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  height: 50px;
  border: solid #000000;
  line-height: 1px;
  background-color: #06fc0a;
}

#question-mark:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

#question-mark:hover {
  background-color: #10a621;
}

#container-div {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding-top: 55px;
}

#dropdownId {
  max-height: 60px;
  overflow-y: scroll;
  size: 5;
}

#breedListDropdown {
  font-size: 18px;
  background-color: #06dffb;
  border: solid rgb(0, 0, 0); 
  border-color: #000000;
  border-radius: 90px;
  width: 70%;
  height: 65%;
}

#breedListDropdown:hover {
  background-color: #169cae;
}

#submit-button {
  font-size: 20px;
  background-color: #06dffb;
  border: solid rgb(0, 0, 0); 
  border-color: #000000;
  border-radius: 90px;
  width: 25%;
  height: 60%;
}

#submit-button:hover {
  background-color: #169cae;
}

#reset-button {
  justify-content: center;
  font-size: 18px;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  border: solid #000000;
  background-color: #ff0000;
}

#reset-button:hover {
  background-color: #872020;
}