html, body { 
    width: 100%; 
    height: 100%; 
    margin: 0;
    padding: 0;
}

#title {
    background-image: linear-gradient(45deg, #030bfc, #ff0000);

    background-size: 100%;
    background-repeat: repeat;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#main {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('C:/Users/marti/Pictures/zac-gudakov--UHyhmRhzrU-unsplash.jpg');
    background-size:cover;
}

#header {
    font-size: large;
    text-align: center;
    padding: 20px;
    border-bottom: solid;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom: solid 5px rgb(0, 0, 0)
}

#searchbar {
    border-radius: 25px;
    padding: 20px;
    width: 140px;
    height: 5px;
    background-color: #ffffff;
    border: solid rgb(0, 0, 0); 
}

#searchbar:hover {
  background-color: #c1c1c1;
}

#magnifying-glass {
    border: solid rgb(0, 0, 0); 
    border-radius: 25px;
    width: 50px;
    height: 45px;
    background-color: #ffffff;
    line-height: 1px;
}

#magnifying-glass:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

#magnifying-glass:hover {
  background-color: #c1c1c1;
}

#nav-bar {
    width: 250px;
    background-color: #ffffff;
  }
  
#nav-bar a.options{
    background-color: #ffffff;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
#nav-bar a.options:hover {
    background-color: #ccc;
    border-radius: 30px;
  }
  
#nav-bar a.active{
    background-color: rgb(1, 1, 0);
    color: white;
    display: block;
    padding: 12px;
  }

#dog-image-list {
  display: flex;
  justify-content: center;
}

#dog-image {
  max-width: 450px;
  max-height: 450px;
  min-width: 450px;
  min-height: 450px;
  border-radius: 45px;
  border-style: solid;
  border-color: rgb(213, 123, 5);
}

#question-mark {
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  height: 50px;
  border: solid #000000;
  line-height: 1px;
  background-color: #06fc0a;
}

#question-mark:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

#question-mark:hover {
  background-color: #10a621;
}

#container-div {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding-top: 55px;
}

.or-text {
  line-height: 1px;
}

#dropdownId {
  max-height: 60px;
  overflow-y: scroll;
  size: 5;
}

#breed-form {
  line-height: 10px;
}

#breedListDropdown {
  background-color: #06dffb;
  border: solid rgb(0, 0, 0); 
  border-color: #000000;
  border-radius: 90px;
  width: 74%;
  height: 100%;
}

#breedListDropdown:hover {
  background-color: #169cae;
}

#submit-button {
  background-color: #06dffb;
  border: solid rgb(0, 0, 0); 
  border-color: #000000;
  border-radius: 90px;
  width: 75;
  height: 100%;
}

#submit-button:hover {
  background-color: #169cae;
}