html, body { 
    width: 100%; 
    height: 100%; 
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('C:/Users/marti/Pictures/zac-gudakov--UHyhmRhzrU-unsplash.jpg');
    background-size:cover;
}

#header {
    font-size: large;
    text-align: center;
    padding: 20px;
    border-bottom: solid;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom: solid 5px rgb(0, 0, 0)
}

#searchbar {
    border-radius: 25px;
    padding: 20px;
    width: 140px;
    height: 5px;
    background-color: #ffffff;
    border: solid rgb(0, 0, 0); 
}

#searchbar:hover {
  background-color: #c1c1c1;
}

#magnifying-glass {
    border: solid rgb(0, 0, 0); 
    border-radius: 25px;
    width: 50px;
    height: 45px;
    background-color: #ffffff;
}

#magnifying-glass:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

#magnifying-glass:hover {
  background-color: #c1c1c1;
}

#nav-bar {
    width: 250px;
  }
  
#nav-bar a{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
#nav-bar a:hover{
    background-color: #ccc;
  }
  
#nav-bar a.active{
    background-color: rgb(1, 1, 0);
    color: white;
  }

#dog-image-list {
  display: flex;
  justify-content: center;
}

#dog-image {
  border-radius: 45px;
  border-style: solid;
  border-color: rgb(213, 123, 5);
}

#question-mark {
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  height: 50px;
  border: solid #000000;
  line-height: 1px;
  background-color: #ffffff;
}

#question-mark:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

#question-mark:hover {
  background-color: #c1c1c1;
}